
<!DOCTYPE html>
<html>
    <head>
        <title>MerchTrack Index Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <div class="navigator">Navigator Bar Here</div>

        <div class="main_element">
            <div class="left_element">
                <h1>Welcome to <b>MerchTrack</b></h1>

                <p><b>ENTER YOUR ACCOUNT NUMBER:</b></p>
                
                <form action="{% url 'trackOrder' %}" method="get">
                    <input type="text" id="student_id" name="student_id" placeholder="eg: 202201007">
                    <br><input type="submit" value="Submit">
                </form>
                {% if error_message %}
                    <p>{{ error_message }}</p>
                {% endif %}
            </div>
            <div class="right_element">
                <h1>Merch image here</h1>
            </div>
        </div>
    </body>
</html>