<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title%}Navigator{% endblock%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="navigator">
        <div class="navi_title">
            <img src="{% static 'assets/MerchTrackLogo.png' %}" alt="Merch Track Logo" style="width: 50px; height: 50px;">

            <h1><b>MerchTrack</b></h1>
        </div>
        <nav id="navis">
            <a style="color: black;" href="">Home</a>
            <a style="color: black;" href="">About Us</a>
            <a style="color: black;" href="">Contact Us</a>
            <img src="{% static 'assets/MerchTrackLogo.png' %}" alt="Merch Track Logo" style="width: 12px; height: 12px;">
        </nav>
    </div>
    <div class="container">{% block content %}{% endblock %}</div>
</body>
</html>