{% extends 'navigator.html' %} {% block title%} MerchTrack Order Tracking Page {% endblock %}
{% block content %}
<div class="track_main_container container">
    <div class="main_centralized">
        <h1>Order Tracking Page</h1>
        
        <div class="track_first">
            <div class="track_first_left">
                <h2>Order ID: 147891248970</h2> <!--class="track_first_left"-->
            </div>
            <div class="track_first_right">
                <button>Invoice</button>
                <button>Track Order</button>
            </div>
        </div>

        
        <div class="track_second">
            {% for itr in orders %}
            <div class="track_second_left">   
                <h4 class="track_second_left_content" style="padding-right: 12px;"><b>Order Date:</b> {{ itr.order_date }}</h4> <!--date = pH-->
                <h4 class="track_second_left_content" style="padding-right: 12px;">Estimated Distribution Date: {{ itr.distribution_date }}</h4> <!--date = pH-->
            </div>
            <div class="track_second_right">
                <h4>Order Status:</h4>
                <h4 id="order_status_display">{{ itr.order_status }}</h4> <!--pH-->
            </div>
            {% endfor %}
        </div>
        

        <div class="third_centralized" style="border: 5px solid;"> <!--Order list-->
            <div class="track_third">
                {% load static %}
                {% for deets in order_details %}         
                <div class="item">
                    <img src="{% static 'assets/tshirtimage.png' %}" alt="Item Image">
                    <h1>{{ deets.item_name }} {{ deets.item_color }} {{ deets.item_size }}</h1>
                </div>
                {% endfor %}
                
            </div>
        </div>

        <div class="track_fourth">
            <h1>Payment</h1>
            <div class="track_fourth_bottom">
                {% for itr in orders%}
                    <h4><b>Method: </b>{{ itr.payment_method }}</h4>
                    <h4><b>Status: </b>{{ itr.payment_status }}</h4>
                    <h4><b>Attached: </b>Receipt</h4>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>
{% endblock %}